body{
    margin: 0px;
    padding: 0px;
}
#menu{
    width: 100%;
    height: 200px;
    position: fixed;
}
#tab-menu{
    width: 100%;
    height: 56px;
    padding-top: 1px;
    background: #7FB0FF;
}
#tab-menu .lap-menu{
    list-style-type: none;
    text-align: left;
}
#tab-menu .lap-menu li{
    display: inline-block;
}
#tab-menu .lap-menu li a{
    font-size: 22px;
    padding: 17px 25px 14px;
    text-decoration: none;
    color: white;
}
#tab-menu .lap-menu li a:hover{
    background: white;
    color: black;
    cursor: pointer;
}
#myNavbar{
    width: 100%;
    height: 50px;
    margin-top: -16px;
    background: #88F3FF;
}
#myNavbar ul{
    list-style-type: none;
    text-align: left;
    line-height: 48px;
}
#myNavbar ul li{
    display: inline-block;
}
#myNavbar ul li a{
    font-size: 22px;
    padding: 14px 25px;
    text-decoration: none;
    color: black;
}
#myNavbar ul li a:hover{
    background: #7FB0FF;
    color: white;
}
#requinement {
    padding-top:150px;
    height:500px;
    color: black;
    background: #f2f3ff;
}
.contain{
    width: 1250px;
    height: 900px;
    margin-left: 65px;
}
.contain p{
    font-size: 20px;
    margin-left: 100px;
}
#design{
    padding-top:150px;
    height:1400px;
    color: black;
    background: #f6fff4;
}
#design .design-de{
    width: 400px;
    height: 350px;
    float: left;
    margin-bottom: 30px;
    border: 1px solid black;
}
#design .design-de button{
    padding: 9px 20px;
    margin-left: 146px;
    margin-top: 8px;
    background: rgba(205, 255, 213, 0.78);
    border: 1px solid green;
    border-radius: 5px;
}
#design .design-de button:hover{
    background: #00d700;
    cursor: pointer;
}
#design .design-de button a{
    color: #ab0000;
    font-size: 15px;
    text-decoration: none;
}
#design .btn-dowload{
    width: 400px;
    height: 50px;
    font-size: 20px;
    margin-left: 480px;
    background: #a00000;
    border: 1px solid #ffe603;
    border-radius: 10px;
    margin-top: 0px;
}
#design .btn-dowload:hover{
    background: #db7706;
    cursor: pointer;
}
#implement {
    padding-top:150px;
    width: 100%;
    height:1000px;
    color: black;
}
#implement .contain_add{
    width: 430px;
    height: 330px;
    float: left;
    clear: right;
    margin-left: 65px;
    padding: 10px 0px;
    background: #e4dada;
}
#implement .contain_add .input_add{
    text-align: left;
    margin-left: 50px;
}
#implement .contain_add .input_add .row{
    margin-top: 20px;
}
#implement .contain_add .input_add input{
    padding: 5px;
}
#implement .btn{
    width: 100%;
    height: 40px;
}
#implement .btn button{
    padding: 10px 25px;
    margin-left: 90px;
    margin-top: 30px;
    background: blue;
    border: 0px;
    color: white;
}
#implement #search {
    width: 730px;
    height: 400px;
    float: right;
}
#implement #search .tab{
    width: 650px;
    height: 300px;
    padding: 125px 30px 30px;
    border: 1px solid black;
    background: #e6e6e6;
}
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 13px;
    text-align: center;
    background: white;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
td a{
    font-size: 12px;
    font-style: italic;
    color: blue;
}
td a:hover{
    color: red;
    cursor: pointer;
}